.registroLinha{
    background-color: white;
    //color: #424242;
}

.tamanho {
    max-width: 790px;
    min-width: 790px;
}

.tamanhoLinha {
    max-width: 1213px;
    min-width: 1180px;
    min-height: 230px;
    max-height: 460px;
}

.shadow {
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.25);
}